<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class ="col-xs-12 ">
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-text pull-left wbdv-no-left-margin">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header navbar-brand">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">Choose Widget</a>
        </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-xs-12 ">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/-1">
                    Header
                </a>
            </li>
            <li class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/-3">
                    HTML
                </a>
            </li>
            <li class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/-2">
                    Image
                </a>
            </li>
            <li class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/-4">
                    YouTube
                </a>
            </li>
            <li class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/-5">
                    Text
                </a>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right ">
            <div class="col-xs-4 text-center">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
