<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <a  href="#/profile/{{model.user._id}}"
                ng-click = model.update(model.user)>
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header navbar-brand">
            <a href="#/profile/{{model.user._id}}">Profile</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <h1>Profile</h1>
    <form >
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>

        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model = "model.user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model = "model.user.email"
                   type="email"
                   class="form-control"
                   id="email"
                   placeholder="aditya@kumar.com">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input ng-model = "model.user.phone"
                   type="text"
                   class="form-control"
                   id="phone"
                   placeholder="PhoneNumber">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model = model.user.firstName
                   type="text"
                   class="form-control"
                   id="first-name"
                   placeholder="Aditya">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model = model.user.lastName
                   type="text"
                   class="form-control"
                   id="last-name"
                   placeholder="Kumar">
        </div>

        <div class="form-group">
            <a class="btn btn-primary btn-block" href="#/user/{{model.user._id}}/website">Websites</a>
        </div>
        <div class="form-group">
            <a ng-click = "model.deleteUser()"
               class="btn btn-danger btn-block" href="#/login">Delete Profile</a>
        </div>
        <div class="form-group">
            <a class="btn btn-warning btn-block" href="#/login">Logout</a>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <div class="col-xs-4 text-center">
                <a href="#/profile/{{model.user._id}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>