<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <a href="#/profile">{{model.user.firstName}}&nbsp;&nbsp;</a>
            <a ng-click="model.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
        <div class="navbar-header navbar-brand pull-left">
            <a href="#/">Movies&More</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show ="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <table class="table table-inverse">
        <thead>
        <tr>
            <th class="hidden-xs"></th>
            <th><h4><strong>Name</strong></h4></th>
            <th class="hidden-xs"><h4><strong>Email</strong></h4></th>
            <th><h4><strong>Quantity</strong></h4></th>
            <th><h4><strong>Buy</strong></h4></th>
            <th><h4><strong>Follow</strong></h4></th>
        </tr>
        </thead>
        <tbody data-ng-repeat="seller in model.sellerDetails track by $index">
        <tr>
            <th scope="row" class="hidden-xs">{{$index+1}}</th>
            <th ><h4><strong>{{seller.firstName+ " "+seller.lastName}}</strong></h4></th>
            <th class="hidden-xs"><h4><strong>{{seller.email}}</strong></h4></th>
            <th><h4><strong>{{model.seller[$index]}}</strong></h4></th>
            <td>
                <button ng-click="model.buyMovie(seller._id)"type="button" class="btn btn-info">Buy</button>
            </td>
            <td ng-show ="model.seller2[$index] === true">
                <i ng-click="model.unFollowSeller(seller._id,$index)" class="fa fa-3x fa-heart heart" aria-hidden="true"></i>
            </td>
            <td ng-show ="model.seller2[$index] === false">
                <i ng-click="model.followSeller(seller._id,$index)" class="fa fa-3x fa-heart-o" aria-hidden="true"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text text-capitalize">
            <div class="col-xs-4 text-center">
                <i class="fa fa-1x fa-align-center fa-copyright" aria-hidden="true"><strong>ADITYA</strong></i>
            </div>
        </div>
    </div>
</nav>