<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <a href="#/profile">{{model.user.firstName}}&nbsp;&nbsp;</a>
            <a ng-click="model.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
        <div class="navbar-header navbar-brand pull-left">
            <span ng-click="model.openNav()">
                <a class="glyphicon glyphicon-align-justify"></a>
            </span>
            <a ng-click="model.goToHome()">Movies&More</a>
        </div>
    </div>
</nav>

<div id="mySidenav" class="sidenav">
    <span ng-click="model.closeNav()">
        <a class="glyphicon glyphicon-remove pull-right"></a>
    </span>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#/profile/">Edit Profile</a>
    <a href="#/profile/showUsers">Show Users</a>
</div>

<div id="main" class="container-fluid">
    <h1>Transactions</h1>
    <table class="table table-inverse">
        <thead>
        <tr>
            <th><h4><strong>Movie Purchased</strong></h4></th>
            <th><h4><strong>Buyer</strong></h4></th>
            <th><h4><strong>Seller</strong></h4></th>
            <th class="hidden-xs"><h4><strong>Purchase Date</strong></h4></th>
        </tr>
        </thead>
        <tbody data-ng-repeat="transaction in model.transactions track by $index">
        <tr data-ng-if ="transaction._buyer.firstName && transaction._seller.firstName">
            <th><h5><strong>{{model.movies[$index].data.original_title}}</strong></h5></th>
            <th><h5><strong>{{transaction._buyer.firstName+" "+transaction._buyer.lastName}}</strong></h5></th>
            <th><h5><strong>{{transaction._seller.firstName+" "+transaction._seller.lastName}}</strong></h5></th>
            <td class="hidden-xs"><h5><strong>{{transaction.dateCreated}}</strong></h5></td>
        </tr>
        </tbody>
    </table>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text text-capitalize">
            <div class="col-xs-4 text-center">
                <i class="fa fa-copyright" aria-hidden="true"><strong>ADITYA</strong></i>
            </div>
        </div>
    </div>
</nav>